<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <script src="angular.min.js"></script>
  <script src="angular-ui-router.min.js">

  </script>
  <script src="app.js"></script>

  <title>Stap 1 Team 5</title>

  <body ng-app="stap1" ng-controller="MainCtrl">
    <title>Stap 1 Team 5</title>

    <h1>Stap 1: Hue Lamp</h1>

    <p>Voeg uw API Key toe:</p>
    <input ng-model="apikey"></input>
    <p>Voeg het nummer van de lamp toe:</p>
    <input ng-model="lightnumber">
    </br>
    </br>
    <select class="dropdown">
      <option value="rood">{{colour}}</option>
      <option value="geel">{{colour}}</option>
      <option value="blauw">{{colour}}</option>
      <option value="groen">{{colour}}</option>
    </select>
  </body>
</head>
</html>
